matplotlib>=3.2.2
numpy>=1.18.5
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
seaborn>=0.11.0
thop
opencv-python
scikit-image
scikit-learn
scipy
tqdm
dlib
imutils
torch==1.10.0+cu113
torchvision==0.11.1+cu113
pandas
zmq
imagezmq